.newsletterList__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#newsletterList .newsletterList__deleteButton {
    user-select: none;
    background-color: #dc3232;
    border-color:  #dc3232;
}

#newsletterList .newsletterList__deleteButton:hover {
    background-color: #b13030;
    border-color:  #b13030;
}

.newsletterList__card .spinner {
    float: none;
}

.newsletterList__card.isLoading .spinner {
    visibility: visible;
}

.newsletterList__card.isLoading .newsletterList__deleteButton {
    pointer-events: none;
}